.b{
	background-color: #808080;
	bottom: 0;
}
.bc {
	position: absolute;
	color: white;
  	width:100%;
	height:100%;
	margin-bottom: 0;
	left: 0;
	bottom: 0;
}
.bi {
	position: relative;
	width:100%;
	height:auto;
	margin-bottom: 0;
	opacity: 0.5;
	margin-top: 40%
}
.td {
	background-color: black;
	opacity: 0.6;
	position: absolute;
	margin-bottom: 0;
}
.t {
	margin-bottom: 0;
	margin-top: 5%;
	margin-bottom: 5%;
	width: 100%;
	font-family: "Black Ops One", cursive;
	font-size: 10vw;
	text-align: center;
}
.d {
	z-index: 100;
	width: auto;
	margin-top: 0%;
	margin-left: 5%;
	margin-right: 5%;
	font-family: "Marvel", sans-serif;
	font-size: 5vw;
	margin-bottom: 0;
	position: relative;
	text-align: center;
}
.tdt {
	display: inline;
	z-index: 100;
	width: 100%;
	margin-top: 60%;
	font-family: "Marvel", sans-serif;
	font-size: 	5vw;
	margin-bottom: 0;
	position: absolute;
	text-align: center;
}
.tld {
	margin-top: 5%;
	z-index: 100;
	position: relative;
}	
.ld {
	display: inline-block;
	bottom: 0;
	left: 25%;
	margin-bottom: 15%;
	position: absolute;
	width: auto;
	height: auto;
	border: 0;
}
.fl {
	width: 12.5%;
}
.gl {
	width: 12.5%;
	margin-left: 5%;
}
.il {
	width: 12.5%;
	margin-left: 5%;
}
.tl {
	width: 12.5%;
	margin-left: 5%;
}
